<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
    <title>Pangram Solver</title>
</head>

<body>
    <div class="bg-light container-fluid h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <div class="row">
                    <div class="col d-flex justify-content-center p-4">
                        <h1>Pangram Solver</h1>
                    </div>
                </div>
                <form autocomplete="off" action="/" method="get">
                    <div class="row justify-content-center">
                        <div class="col-6 form-group">
                            <input type="text" name="letters" class="form-control" placeholder="Letters" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 form-group">
                            <input type="text" name="required" class="form-control" placeholder="Required Letters" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 form-group m-2">
                            <button type="submit" class="w-100 btn btn-primary">Pangram</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>