<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Pangram Solver</title>
</head>

<body>
    <div class="bg-light container">
        <div class="row">
            <div class="col d-flex justify-content-center p-4">
                <h1>Pangram Solver</h1>
            </div>
        </div>
        {% for k, v in words.items() %}
        <h4>Length {{k}}</h4>
        <ul class="list-unstyled card-columns">
            {% for word in v %}
            {% if word[1] %}
            <li>{{word[0]}} <i class="fa fa-star"></i></li>
            {% else %}
            <li>{{word[0]}}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>

</html>